# Diamonds Project

## Importing libraries and datasets

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import numpy as np

hist_data = pd.read_csv('diamonds.csv')
rick_data = pd.read_csv('rick_diamonds.csv')

## Data Clean

,carat,depth,table,price,x,y,z
count,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000
mean,0.797817,61.751931,57.451161,3934.409644,5.730712,5.734333,3.538648
std,0.474126,1.430026,2.233450,3989.333861,1.121920,1.145344,0.706817
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,949.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.690000,5.710000,3.520000
75%,1.040000,62.500000,59.000000,5331.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

## Exploratory analises

In [19]:
price_mean = hist_data['price'].mean()
price_median = hist_data['price'].median()

In [17]:
hist_data.describe()

,carat,depth,table,price,x,y,z
count,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000
mean,0.797817,61.751931,57.451161,3934.409644,5.730712,5.734333,3.538648
std,0.474126,1.430026,2.233450,3989.333861,1.121920,1.145344,0.706817
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,949.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.690000,5.710000,3.520000
75%,1.040000,62.500000,59.000000,5331.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [18]:
hist_data[['carat',	'depth','table','price','x','y','z']]

       carat  depth  table  price     x     y     z
0       0.21   59.8   61.0    326  3.89  3.84  2.31
1       0.23   56.9   65.0    327  4.05  4.07  2.31
2       0.29   62.4   58.0    334  4.20  4.23  2.63
3       0.31   63.3   58.0    335  4.34  4.35  2.75
4       0.24   62.8   57.0    336  3.94  3.96  2.48
...      ...    ...    ...    ...   ...   ...   ...
48935   0.72   62.7   59.0   2757  5.69  5.73  3.58
48936   0.72   60.8   57.0   2757  5.75  5.76  3.50
48937   0.72   63.1   55.0   2757  5.69  5.75  3.61
48938   0.70   62.8   60.0   2757  5.66  5.68  3.56
48939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[48940 rows x 7 columns]

In [21]:
rick_data.describe()

,carat,depth,table,x,y,z,price_predicted
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.0
mean,0.799144,61.724680,57.516140,5.735516,5.736410,3.539576,2401.0
std,0.472936,1.457691,2.244019,1.120300,1.110345,0.694733,0.0
min,0.200000,44.000000,50.000000,0.000000,0.000000,0.000000,2401.0
25%,0.400000,61.000000,56.000000,4.720000,4.720000,2.910000,2401.0
50%,0.710000,61.800000,57.000000,5.710000,5.720000,3.530000,2401.0
75%,1.040000,62.500000,59.000000,6.530000,6.520000,4.032500,2401.0
max,4.130000,73.600000,70.000000,10.000000,9.850000,6.430000,2401.0

## Testing models

In [20]:
#model mean
rick_data['price_predicted'] = price_mean
rick_data.to_csv('Rick_predicted.csv')

#model median
rick_data['price_predicted'] = price_median
rick_data.to_csv('Rick_predicted.csv')

## Attempts
Goal: root mean squared error = 900

mean: 3980.713882502374

median: 4255.533080942974